<h3>Messages I have received:</h3>
<% @received_messages.each do |msg|%>
  <h4>- <%= msg.content %></h4><br>
<% end %>
<h3>Messages I have sent:</h3>
<% @sent_messages.each do |msg|%>
  <h4>- <%= msg.content %></h4><br>
<% end %>
<%= link_to 'Home', users_path, class: 'btn btn-primary' %>
