<ul class="nav nav-pills", role="tablist", style="float:right">
  <li class="active, navb"><%= link_to 'Home', users_path, class: 'btn btn-primary' %></li>
</ul>
<h1>Sign Up</h1>
  <div class="form">
    <%= render 'form' %>
  </div>
