<!DOCTYPE html>
<html>
  <head>
    <title>LuxChange</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Merienda+One|PT+Sans+Narrow|Proza+Libre|Sansita+One" rel="stylesheet">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div class="col-xs-5, jumbotron" style="color:rgba(127, 63, 191, 0.8)">
          <h1>LuxChange</h1>
        </div>
        <div class="col-xs-7">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
